<div class="row">
    <div class="col-md-12">
        <!-- AREA CHART -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Resumen</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered general">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Discurso</th>
                            <th style="width: 25px">Mes anterior</th>
                            <th style="width: 25px">Mes actual</th>
                            <th>Total visitas</th>
                            <th>Ver detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {~ @i = 0 ~}
                        <repeat group="{{@archivos}}" value="{{@archivo}}">
                            <tr>
                                <td>{{++@i}}</td>
                                <td>{{@archivo->nombre}}</td>
                                <td class="text-right">{{@archivo->mes_anterior}}</td>
                                <td class="text-right">{{@archivo->mes_actual}}</td>
                                <td class="text-right">{{@archivo->visitas}}</td>
                                <td><a href="/fsa/1/{{@archivo->archivo}}">Ver más</a>
                            </tr>
                        </repeat>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Total</td>
                            <td class="text-right">{{@resumen->mes_anterior}}</td>
                            <td class="text-right">{{@resumen->mes_actual}}</td>
                            <td class="text-right">{{@resumen->visitas}}</td>
                            <td class="text-center">{{@resumen->discursos}} discursos<br /><small>(Páginas: {{@resumen->paginas}})</small></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
