<li class="header">GLAM</li>
<li class="treeview">
    <a href="#"><i class="fa fa-paint-brush"></i> <span>Discursos Salvador Allende</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="/fsa/1"><i class="fa fa-check-square text-green"></i> <span>Primera etapa</span></a></li>
        <li><a href="/fsa/2"><i class="fa fa-check-square text-green"></i> <span>Segunda etapa</span></a></li>
        <li><a href="/fsa/3"><i class="fa fa-spinner fa-pulse fa-fw margin-bottom text-white"></i> <span>Tercera etapa</span></a></li>
    </ul>
</li>

<li class="header">Educación</li>
<li class="treeview">
    <a href="#"><i class="fa fa-university"></i> <span>Primer Semestre 2016</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="/educacion/biblio2016"><i class="fa fa-spinner fa-pulse fa-fw margin-bottom text-white"></i> <span>Análisis de Inf. Documental</span></a></li>
        <li><a href="/educacion/comunica2016"><i class="fa fa-spinner fa-pulse fa-fw margin-bottom text-white"></i> <span>Comunic. Interactiva</span></a></li>
    </ul>
</li>
