<li class="header">GLAM</li>
<li class="treeview">
    <a href="#"><i class="fa fa-paint-brush"></i> <span>Fund. Salvador Allende</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="/fsa/1"><i class="fa fa-check-square text-green"></i> <span>Proyecto Piloto</span></a></li>
        <li><a href="/fsa/2"><i class="fa fa-check-square text-green"></i> <span>Primera fase</span></a></li>
        <li><a href="/fsa/3"><i class="fa fa-spinner fa-pulse fa-fw margin-bottom text-white"></i> <span>Segunda fase</span></a></li>
    </ul>
</li>
<!--
<li class="header">Educación</li>
<li class="treeview">
    <a href="#"><i class="fa fa-university"></i> <span>UTEM</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="/educacion/biblio2016"><i class="fa fa-spinner fa-pulse fa-fw margin-bottom text-white"></i> <span>Bibliotecología</span></a></li>
    </ul>
</li>
-->
